* {
    margin: 0;
    padding: 0;
}

html,body,#app {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fade-enter-from,
.fade-leave-to {
    /*定义进入开始和离开结束的透明度为0*/
    opacity: 0;
}
.fade-leave-to {
    transform: translateX(20px);
}
.fade-enter-to {
    transform: translateX(-20px);
}
.fade-enter-to,
.fade-leave-from {
    /*定义进入结束和离开开始的透明度为1*/
    opacity: 1;
}
.fade-leave-active,.fade-enter-active {
    transition: all 0.5s ease-out;
}